# Large data files
dataset.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS-specific
.DS_Store
Thumbs.db

# Environments
.venv/
env/
venv/
ENV/

# Streamlit
.streamlit/
